@import '../../../../style/size-responsive';

.sectionCv {
  max-width: 411px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;

  @include responsiveContent {
    justify-content: center;
    align-items: center;
    order: 3;
  }
}
