@import '../../style/size-responsive';

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;

  @include responsiveHeader {
    position: absolute;
    flex-direction: column;
    background-color: var(--blackLight);
    padding: 10px;
    border-radius: 10px;
    gap: 30;
    top: 40px;
    left: -180px;
  }

  &.open {
    @include responsiveHeader {
      display: flex;
    }
  }

  &.close {
    @include responsiveHeader {
      display: none;
    }
  }

  .link {
    color: var(--text);
    text-decoration: none;

    @include responsiveHeader {
      font-size: 26px;
    }
  }

  .active {
    color: var(--textPurple);
  }
}
