* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
}

:root {
  --blackMain: #090e16;
  --backgroundWhite:hsla(0, 100%, 100%, 0.7);
  --blackLight: hsla(0,0%,18%,1);
  --title: hsla(0, 100%, 100%, 1); 
  --text: rgba(255, 255, 255, 0.50);
  --textPurple: rgba(123, 74, 226, 0.50);
}

body {
  background-color: var(--blackMain);
}
