@import '../../style/size-responsive';
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 224px;
  flex-direction: column;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
    flex-wrap: wrap;

    @include responsiveContent {
      flex-direction: column;
      gap: 30px;
    }
  }
}
