@import '../../../../style/size-responsive';

.titleExperience {
  color: var(--title);
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.timeExperience {
  display: flex;
  align-items: center;
  font-size: 26px;
  color: var(--title);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  border-radius: 16px;
  border: 1px solid var(--textPurple);
  width: 300px;
  min-height: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;

  @include responsiveSmallMobile {
    width: 300px;
  }

  .titleCard, .rol {
    color: var(--textWhite);
    width: 100%;
    font-weight: 700;
    font-size: 26px;
  }

  .rol {
    font-size: 24px;
  }

  .descriptionCard {
    color: var(--text);
    width: 100%;
    font-weight: 400;
    font-size: 20px;
  }

  .code {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 6px;
    margin-top: auto;

    span {
      background-color: rgba(123, 74, 226, 0.1);
      color: var(--textPurple);
      border-radius: 8px;
      font-weight: 700;
      padding: 4px 14px;
    }
  }
}
