.containerGreeting {
  display: flex;
  flex-direction: column;
  height: 411px;
  max-width: 22rem;

  span {
    color: var(--textPurple);
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 1rem;
    background: rgba(123, 74, 226, 0.1);
    padding: 4px 12px;
    width: 8.75rem;
  }

  i {
    color: yellow;
  }

  .name {
    color: var(--title);
    font-size: 3.25rem;
    font-weight: 800;
    margin-top: 20px;
  }

  .rol {
    color: var(--text);
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 20px;
  }

  .link {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
}
